<!DOCTYPE html>
<html>
  <head>
    <title>INFS 740 Healthcare</title>
      <h1>Disease Recommender System</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        const data = {
          labels: [<%- trends.map(t => `"${t.formattedAxisTime}"`) %>],
          datasets: [
            {
              name: "US Average", type: "line",
              values: [<%= trends.map(t => t.formattedValue[0]) %>]
            },
            <% if (location) { %>
            {
              name: "<%= location.city %> Average", type: "line",
              values: [<%= trends.map(t => t.formattedValue[1]) %>]
            }
            <% } %>
          ]
        }

        const chart = new frappe.Chart("#chart", {
          title: "Google Trends for \"<%= symptoms %>\" over time",
          data: data,
          type: 'line',
          lineOptions: {
            heatline: 1,
            regionFill: 1
          },
          height: 250,
          colors: ['#7cd6fd', '#743ee2']
        });
      });
    </script>
  </head>
  <body>

    <div id="hc-Container">
<div class="hc-Banner">
<ul class="menu">
    <li class="link1">
      <a href="/" class="hyperlink"><span>Home</span></a>
    </li>
    <li class="link1">
      <a href="/about" class="hyperlink">About Us</a>
    </li>
    <li class="link1">
      <a href="/help" class="hyperlink">Help</a>
    </li>


  </ul>
</div>
<div class="hc-Form-heading">
      <% if (diagnosis.length > 0) { %>
        <div class="hc-Diagnosis">
          <h3>Your Potential Diagnosis</h3>
          <div class="hc-Diagnosis-list">
          <% diagnosis.forEach((d) => { %>
            <div class="hc-Diagnosis-result">
              <% if (d.id) { %>
                <a target="_blank" href="http://www.disease-ontology.org/term/DOID%3A<%= d.id %>">
                  <%= d.name %>
                </a>
              <% } else { %>
                <%= d.name %>
              <% } %>
            </div>
            <div class="hc-Diagnosis-resultDesc">
              <%= d.description %>
            </div>
          <% }); %>
          </div>
        </div>
        <% if (specialists.length > 0 && location) { %>
        <p>
          <a href="/treatments?specialists=<%= specialists%>&zipcode=<%=location.zip%>">
            View recommended specialists in your area
          </a>
        </p>
        <% } %>
      <% } else { %>
        <p>We didn't find any matches</p>
      <% } %>
      <div>
        <div id="chart"></div>
      </div>
      <br />
      <a href='/'>Try disease recommender again</a>
	  </div>
	        <p>
        <a href="https://www2.gmu.edu/">
          <img src = "/images/mason-logo-green.png" class="img" alt = "Contact Page" />
        </a>
      </p>
    </div>
  </body>
</html>
